<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MAC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Mac.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Threading" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.4.0.0" newVersion="16.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MAC.Properties.Settings>
      <setting name="TimeOutOhm" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="TimeOutV" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="TimeOutHz" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="FullLogPath" serializeAs="String">
        <value />
      </setting>
      <setting name="IsUseAverageValue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CountAverageValue" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="FlukeComPort" serializeAs="String">
        <value>Не выбрано</value>
      </setting>
      <setting name="CommComPort" serializeAs="String">
        <value>Не выбрано</value>
      </setting>
      <setting name="Mac1ComPort" serializeAs="String">
        <value>Не выбрано</value>
      </setting>
      <setting name="Mac2ComPort" serializeAs="String">
        <value>Не выбрано</value>
      </setting>
      <setting name="Mac3ComPort" serializeAs="String">
        <value>Не выбрано</value>
      </setting>
      <setting name="Mac4ComPort" serializeAs="String">
        <value>Не выбрано</value>
      </setting>
      <setting name="Mac5ComPort" serializeAs="String">
        <value>Не выбрано</value>
      </setting>
      <setting name="Mac6ComPort" serializeAs="String">
        <value>Не выбрано</value>
      </setting>
      <setting name="Ch0Ohm1IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch0Ohm2IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch0Ohm3IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch0Ohm4IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch0Ohm5IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch1Ohm1IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch1Ohm2IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch1Ohm3IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch1Ohm4IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch1Ohm5IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch2Ohm1IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch2Ohm2IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch2Ohm3IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch2Ohm4IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch2Ohm5IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch3V1IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch3V2IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch3V3IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch3V4IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch3V5IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch5V1IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch5V2IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch5V3IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch5V4IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch5V5IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch6Hz1IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch6Hz2IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch6Hz3IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch6Hz4IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch6Hz5IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Sc1Ch0Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc2Ch0Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc3Ch0Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc4Ch0Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc5Ch0Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc6Ch0Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc1Ch1Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc2Ch1Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc3Ch1Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc4Ch1Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc5Ch1Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc6Ch1Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc1Ch2Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc2Ch2Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc3Ch2Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc4Ch2Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc5Ch2Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc6Ch2Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc1Ch3Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc2Ch3Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc3Ch3Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc4Ch3Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc5Ch3Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc6Ch3Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc1Ch5Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc2Ch5Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc3Ch5Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc4Ch5Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc5Ch5Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc6Ch5Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc1Ch6Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc2Ch6Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc3Ch6Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc4Ch6Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc5Ch6Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc6Ch6Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ScVersion" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IsOnCalibration" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MacVersion" serializeAs="String">
        <value>1</value>
      </setting>
    </MAC.Properties.Settings>
    <Mac.Properties.Settings>
      <setting name="TimeOutOhm" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="TimeOutV" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="TimeOutHz" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="FullLogPath" serializeAs="String">
        <value />
      </setting>
      <setting name="IsUseAverageValue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CountAverageValue" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="FlukeComPort" serializeAs="String">
        <value>Не выбрано</value>
      </setting>
      <setting name="CommComPort" serializeAs="String">
        <value>Не выбрано</value>
      </setting>
      <setting name="Sc1ComPort" serializeAs="String">
        <value>Не выбрано</value>
      </setting>
      <setting name="Sc2ComPort" serializeAs="String">
        <value>Не выбрано</value>
      </setting>
      <setting name="Sc3ComPort" serializeAs="String">
        <value>Не выбрано</value>
      </setting>
      <setting name="Sc4ComPort" serializeAs="String">
        <value>Не выбрано</value>
      </setting>
      <setting name="Sc5ComPort" serializeAs="String">
        <value>Не выбрано</value>
      </setting>
      <setting name="Sc6ComPort" serializeAs="String">
        <value>Не выбрано</value>
      </setting>
      <setting name="Ch0Ohm1IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch0Ohm2IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch0Ohm3IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch0Ohm4IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch0Ohm5IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch0Ohm140IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch1Ohm1IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch1Ohm2IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch1Ohm3IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch1Ohm4IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch1Ohm5IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch1Ohm140IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch2Ohm1IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch2Ohm2IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch2Ohm3IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch2Ohm4IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch2Ohm5IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch2Ohm140IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch3V1IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch3V2IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch3V3IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch3V4IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch3V5IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch5V1IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch5V2IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch5V3IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch5V4IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch5V5IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch6Hz1IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch6Hz2IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch6Hz3IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch6Hz4IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ch6Hz5IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Sc1Ch0Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc2Ch0Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc3Ch0Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc4Ch0Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc5Ch0Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc6Ch0Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc1Ch1Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc2Ch1Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc3Ch1Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc4Ch1Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc5Ch1Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc6Ch1Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc1Ch2Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc2Ch2Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc3Ch2Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc4Ch2Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc5Ch2Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc6Ch2Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc1Ch3Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc2Ch3Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc3Ch3Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc4Ch3Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc5Ch3Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc6Ch3Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc1Ch5Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc2Ch5Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc3Ch5Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc4Ch5Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc5Ch5Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc6Ch5Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc1Ch6Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc2Ch6Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc3Ch6Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc4Ch6Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc5Ch6Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sc6Ch6Error" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MacVersion" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IsOnCalibration" serializeAs="String">
        <value>True</value>
      </setting>
    </Mac.Properties.Settings>
  </userSettings>
</configuration>